<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="body1">
<div class="container">

    <div class="page-header text-center">
        <h1 style="color: white;"><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/updateInfo" class="btn btn-default btn-sm">Update Info</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id </strong>: <%= user._id %><br>
                        <strong>Name </strong>: <%= user.local.name %><br>
                        <strong>DSU-ID </strong>: <%= user.local.DSUID %><br>
                        <strong>Email </strong>: <%= user.local.email %><br>
                        <strong>Token </strong>: <%= user.local.token %><br>
                        <!--<strong>Password </strong>: <%= user.local.password %>-->
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>